body
{
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

#root
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 1em;
    max-height: 100vh;
}

#records
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-grow: 0;
    padding: 1em;
    max-height: 100%;
}

#recordsTitle
{
    flex-grow: 0;
}

#recordsList
{
    flex-grow: 1;
    overflow: auto;
}

#edit
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    flex-grow: 0;
}

#editForm
{
    flex-grow: 0;
}

#buttons
{
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 0;
    justify-content: space-between;
    /*
    justify-content: space-around;
    justify-content: space-evenly;
    */
}

.button
{
    flex-grow: 0;
}
