body
{
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

#root
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 1em;
    max-height: 100vh;
}

#records
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-grow: 0;
    padding: 1em;
    max-height: 100%;
}

.record
{
    flex-shrink: 0;
}

#recordsTitle
{
    flex-grow: 0;
}

#recordsList
{
    flex-grow: 0;
    overflow: auto;
}

#edit
{
    padding-top: 1em;
    padding-left: 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    flex-grow: 0;
}

#editForm
{
    flex-grow: 0;
}

#recordsbuttons
{
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    margin-top: 1em;
}

.recordButton
{
    flex-grow: 0;
    margin: .2em;
}

